[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Paketti
Icon=harbour-paketti
Exec=harbour-paketti

X-Desktop-File-Install-Version=0.20
Name[en_IE]=harbour-paketti.desktop

[X-Sailjail]
OrganizationName=zeip.eu
ApplicationName=Paketti
Permissions=
